body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.sound, .music{
    width: 75px;
    height: 75px;
    padding:5px;
}

.sound img, .music img {
    width: 100%;
    height: 100%;
}

.sound img:hover, .music img:hover  {
    border: 1px solid white;
}




#gameCanvas {
    border: 1px solid white;
}